.messageContainer {
    display: flex;
    flex-direction: row; /* Располагаем элементы в строку */
    align-items: flex-end; /* Выравниваем элементы по нижнему краю */
    justify-content: flex-end; /* Выравниваем элементы по правому краю */
    padding-right: 3em;
}

.message {
    display: flex;
    flex-direction: column; /* Располагаем элементы вертикально */
    align-items: flex-start; /* Выравниваем элементы по левому краю */
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end; /* Выравнивание img по нижнему краю блока */
}

.imageAndText img {
    width: 48px;
    height: 48px;
    margin: 1px;


}

.text {
    --r: 25px; /* the radius */
    --t: 30px; /* the size of the tail */
    margin-right: 0px;
    min-width: 300px;
    max-width: 500px;
    padding: calc(2*var(--r)/3);
    -webkit-mask:
            radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 100%)
            var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
            conic-gradient(at var(--r) var(--r),#000 75%,#0000 0)
            calc(var(--r)/-2) calc(var(--r)/-2) padding-box,
            radial-gradient(50% 50%,#000 98%,#0000 101%)
            0 0/var(--r) var(--r) space padding-box;
    background: #06C border-box;
    color: #FFF;
    --_d: 100%;
    border-right: var(--t) solid #0000;
    margin-left: var(--t);
    place-self: end;

}


.name {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.messageText {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.time {
    margin-left:auto;
    order: 5;
    color: #000;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right: 12px;
    padding-top: 5px;
}