.buttonsContainer {
    display: flex;
}

.responseContainer {
}

.imageContainer {
}

.image {
    width: 1022px;
    height: 315.42px;
    top: 260px;
    left: 166px;
    gap: 0px;
    opacity: 0px;

}

.textContainer{
}

.code {
}

.text {
}
.info {
}