.stand {
    display: flex;
    justify-content: space-around;
  
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.inputs>div {
    margin-bottom: 24px;
    /* Отступ снизу для input */
}

.buttons>div {
    margin-top: 24px;
    /* Отступ сверху для button */
}