.pagination {
    display: flex;
    align-items: center;
    /* вертикальное выравнивание элементов */
    gap: 8px;
    /* расстояние между элементами */
}

.text1,
.text2 {
    font-size: 14px;
    /* общий размер шрифта */
    white-space: nowrap;
    /* предотвращение переноса текста на новую строку */
    user-select: none;
    /* отключаем выделение текста */
}

.text1 {
    margin-right: 4px;
    /* небольшой отступ справа перед селектором */
}

.text2 {
    margin-left: 4px;
    /* небольшой отступ слева после селектора */
}